/* 全体のスタイル */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* スプラッシュスクリーン */
#splash {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#splash_logo {
    width: 200px;
    height: 200px;
}

/* ヘッダー */
header {
    background-color: #4CAF50; /* 緑色 */
    padding: 20px;
    color: white;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline;
    margin: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

/* メインコンテンツ */
.hero {
    background-color: #e8f5e9; /* 淡い緑 */
    padding: 100px 0;
    text-align: center;
    color: #333;
}

.hero-content h1 {
    font-size: 48px;
    color: #388E3C; /* 濃い緑 */
}

.hero-content p {
    font-size: 18px;
}

.btn-primary {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

/* サービス概要、特徴 */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
}

h2 {
    color: #388E3C; /* 濃い緑 */
}

.feature-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.feature-card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.feature-card img {
    max-width: 100%;
    border-radius: 10px;
}

.feature-card:hover {
    transform: scale(1.05);
}

/* チームセクション */
.team-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.team-card {
    width: 200px;
    text-align: center;
    margin: 20px;
}

.team-card img {
    max-width: 100%;
    border-radius: 50%;
}

/* お問い合わせセクション */
.contact-method {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.contact-icon {
    width: 60px;
    height: 60px;
    margin-right: 20px;
}

.contact-info a {
    color: #4CAF50; /* 緑色 */
    text-decoration: none;
}

/* フッター */
footer {
    background-color: #4CAF50;
    padding: 20px;
    color: white;
    text-align: center;
}

.footer-links {
    margin-top: 10px;
}

.footer-links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}
